[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb.git
[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20.git
