CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_GIOT_DEVICE_ID="GreenMeanMachine-test"
CONFIG_LWIP_LOCAL_HOSTNAME="hydroponics-test"
CONFIG_ESP_SIMULATE_SENSORS=y

CONFIG_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SIZE=-1
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y

# OpenOCD
CONFIG_ESP32S2_DEBUG_OCDAWARE=y
