CONFIG_ESP32S2_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S2_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_GIOT_DEVICE_ID="GreenMeanMachine-test"
CONFIG_LWIP_LOCAL_HOSTNAME="GreenMeanMachine-test"
CONFIG_ESP_SYSLOG_PORT=513
CONFIG_ESP_SENSOR_SIMULATE=y

# Coredump and crashed,
CONFIG_ESP_COREDUMP_ENABLE=y
CONFIG_ESP_COREDUMP_ENABLE_TO_UART=y

# OpenOCD.
CONFIG_ESP32S2_DEBUG_OCDAWARE=y
CONFIG_ESP32S2_DEBUG_STUBS_ENABLE=y
