CONFIG_COMPILER_WARN_WRITE_STRINGS=y
CONFIG_HEAP_POISONING_LIGHT=y
CONFIG_ETH_ENABLED=n
CONFIG_ETH_USE_ESP32_EMAC=n
CONFIG_ETH_USE_SPI_ETHERNET=n
CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=n

CONFIG_GIOT_PROJECT_ID="iot-hydroponics"
CONFIG_GIOT_LOCATION="us-central1"
CONFIG_GIOT_REGISTRY_ID="registry"
CONFIG_GIOT_DEVICE_ID="GreenMeanMachine"

CONFIG_BIT_MODE_8BIT=y

CONFIG_ESP_SYSLOG_ENABLE=y
CONFIG_ESP_SYSLOG_IPV4_ADDR="10.0.0.10"
CONFIG_ESP_SYSLOG_PORT=514

CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
