# put here your custom config value
menu "Project config"
    config BLINK_GPIO
        int "Blink GPIO number"
        range 0 34
        default 25
        help
            GPIO number (IOxx) to blink on and off.
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.
            GPIOs 35-39 are input-only so cannot be used as outputs.

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default ""
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default ""
        help
            WiFi password (WPA or WPA2) for the example to use.

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config ESP_ONE_WIRE_GPIO
        int "OneWire GPIO number"
        range 0 34
        default 22
        help
            GPIO number (IOxx) to access One Wire Bus.
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.
            GPIOs 35-39 are input-only so cannot be used to drive the One Wire Bus.

    menu "Sampling"
        config ESP_SAMPLING_HUMIDITY_MS
            int "Humidity"
            default 1000
            help
                Set the sampling rate for humidity/outdoor temperature readings in ms.

        config ESP_SAMPLING_TEMPERATURE_MS
            int "Temperature"
            default 1000
            help
                Set the sampling rate for water temperature readings in ms.

        config ESP_SAMPLING_EC_MS
            int "EC Probe"
            default 1500
            help
                Set the sampling rate for electrical conductivity (EC) probe readings in ms.

        config ESP_SAMPLING_PH_MS
            int "PH Probe"
            default 1500
            help
                Set the sampling rate for PH probe readings in ms.

    endmenu

endmenu